<div class="card bg-base-200 rounded-box grid h-250 m-4 grow place-items-center">
    <% if (isLoggedIn) { %>
    <div class="user-info flex flex-col text-center place-items-center w-full">
        <div class="avatar mb-4">
            <div class="ring-primary ring-offset-base-100 w-24 rounded-full ring-2 ring-offset-2">
                <img src="<%= allData.photoPath[0].photo_path %>" />
            </div>
        </div>
        <div class="badge badge-outline badge-warning mb-4">⭐️ <%= starsCount[0].stars %></div>
        <% if (allData.role && allData.role[0].namePermission == "Developer") { %>
            <div class="badge badge-success mb-2 font-semibold">
                <%= allData.role[0].namePermission %>
            </div>
        <% } else if (allData.role && allData.role[0].namePermission == "Administrator") { %>
            <div class="badge badge-error mb-2 font-semibold">
                <%= allData.role[0].namePermission %>
            </div>
        <% } else { %>
            <div class="badge badge-warning mb-2 font-semibold">
                <%= allData.role[0].namePermission %>
            </div>
        <% } %>
        
        <p class="text-l"><%= allData.fullName[0].fullName %></p>
        <p class="text-m mb-4"><%= allData.canton[0].canton %>, <%= allData.state[0].state %></p>

        <ul class="list rounded-box">
            <% if (pThreads.length == 0) { %>
                <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Nessun thread è stato pubblicato</li>
            <% } else { %>
                <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Ultimi 5 threads pubblicati</li>
            <% } %>
            <% for (var i = 0; i < pThreads.length; i++) { %>
            <li class="list-row mb-4 bg-base-100 shadow-md">
                <div><img class="size-10 rounded-box" src="<%= pThreads[i].owner_photo%>"/></div>
                <div>
                <div><%= pThreads[i].owner %></div>
                <div class="text-xs uppercase font-semibold opacity-60"><%= pThreads[i].title %></div>
                </div>
                <p class="list-col-wrap text-xs">
                <%= pThreads[i].short_desc %>
                </p>
            </li>
            <% } %>
        </ul>
    </div>
    <% } %>
</div>