<!DOCTYPE html>
<html lang="it" data-theme="night">
    <head>
        <%- include('layout/head') %>
    </head>
    <body>
        <%- include('layout/navbar') %>
        <div class="flex w-full">
            <%- include('elements/threads') %>
            <%- include('elements/user-details') %>
        </div>
        <%- body %>
        <%- include('layout/footer') %>
    </body>
</html>